.nav-bar-container {
    background-color: #00509d;
    height: 90px;
    color: white;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;

} 

a {
    text-decoration: none;
    color: white;
    padding-top: 20px;
    font-size: 20px;
    padding: 10px;
    padding-right: 60px;
}

